apiVersion: apps/v1
kind: Deployment
metadata: 
  name: nodejsdeployment
spec:
  selector:
    matchLabels: 
      app: nodejs
  replicas: 1
  template:
    metadata: 
      labels:
        app: nodejs
    spec:
      containers:
      - name: nodejscontainer
        image: meghanajshetty/nodejsdockerdemo:latest
        ports:
          containerPort: 3000
      
